.vcursor {
    height: 20px;
    width: 20px;
    z-index: 9999999;
    position: absolute;
    left: 0;
    top: 0;
    background: url(/vcursor/img/cursor.png) bottom right no-repeat;
    display: block;
}
